
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Lato:wght@300;400&display=swap');
// theme fonts

/*
font-family: 'Bodoni Moda', serif;
font-family: 'Lato', sans-serif;
*/

$Bodoni-Moda: 'Bodoni Moda', serif;
$Lato: 'Lato', sans-serif;
