

.footer-section{

    padding-top: 60px;

    .footer-content{

        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;


        .social{
            a{
                padding: 1.5rem;
                font-size: 2.3rem;
                text-decoration: none;
                transition: 1s linear;
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }


        .copyright{
            font-size: 1.2rem;
            line-height: 4.1rem;
            letter-spacing: 0.60px;
            &:hover a{
                text-decoration: none;
            }
        }


    }
}