

.info-contact{
    padding: 75px 0 69px;
    background-color: $secondary;

    .info-address, a{
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-weight: $font-weight-light;
        color: #1E1E1E;;
    }
   
}