$bg-services-light: $light;
$bg-services-secondary: $secondary;
$gray-900: $black;

.service-home {
    padding-top: 88px;
    .service-product {
        &:nth-of-type(even) {
            .row {
                flex-direction: row-reverse;
            }
        }

        .product-content {

            .service-title {
                font-size: 3.6rem;
                letter-spacing: 0;
                line-height: 4.4rem;
                text-transform: uppercase;
                margin-bottom: 3.6rem;
            }

            .service-link a {
                font-size: 1.4rem;
                letter-spacing: 0.5px;
                line-height: 1.7rem;
                padding: 13px 36px;
                border: 1px solid #1E1E1E;
                text-decoration: none;
                text-transform: uppercase;
                color: $gray-900;
            }
        }
    }
}

@media(min-width:320px){
    .service-home {
        .service-product {
            .product-content {
                padding: 40px 0 40px;

            }
        }
    }
}

@media(min-width:792px){
    .service-home {
        .service-product {
            .product-content {
                padding-left: 15px;
            }
        }
    }
}

@media(min-width:1200px){
    .service-home {
        .service-product {
            .product-content {
                padding: 125px 95px 125px 95px;
            }
        }
    }
}
















